body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920.99921171913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
  display:flex;
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:21px;
  width:33px;
  height:33px;
  display:flex;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:25px;
  width:60px;
  height:23px;
  display:flex;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u375_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:20px;
  width:31px;
  height:30px;
  display:flex;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:24px;
  width:40px;
  height:23px;
  display:flex;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:24px;
  width:26px;
  height:26px;
  display:flex;
}
#u378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:24px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u379 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:1676px;
  top:17px;
  width:104px;
  height:46px;
  display:flex;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:1794px;
  top:15px;
  width:115px;
  height:48px;
  display:flex;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:40px;
  height:40px;
  display:flex;
}
#u382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u383_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:17px;
  width:1035px;
  height:46px;
  display:flex;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u383_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:46px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383.disabled {
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:1920px;
  height:40px;
  display:flex;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:510px;
  width:165px;
  height:82px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:462px;
  width:120px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u386 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:617px;
  width:1039px;
  height:68px;
  display:flex;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1819px;
  height:2px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:777px;
  width:1818px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.113289408345913deg);
  -moz-transform:rotate(0.113289408345913deg);
  -ms-transform:rotate(0.113289408345913deg);
  transform:rotate(0.113289408345913deg);
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:27px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u389_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:27px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:27px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:840px;
  width:343px;
  height:44px;
  display:flex;
  font-size:27px;
}
#u389 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u389_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:27px;
}
#u389.disabled {
}
.u389_input_option {
  font-size:27px;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:846px;
  width:92px;
  height:38px;
  display:flex;
  font-size:28px;
}
#u390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:846px;
  width:56px;
  height:32px;
  display:flex;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u392 label {
  left:0px;
  width:100%;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:21px;
  height:21px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:910px;
  width:126px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u392_img.selected {
}
#u392.selected {
}
#u392_img.disabled {
}
#u392.disabled {
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:101px;
  word-wrap:break-word;
  text-transform:none;
}
#u392_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u393 label {
  left:0px;
  width:100%;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:21px;
  height:21px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:957px;
  width:126px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u393_img.selected {
}
#u393.selected {
}
#u393_img.disabled {
}
#u393.disabled {
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:101px;
  word-wrap:break-word;
  text-transform:none;
}
#u393_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u394 label {
  left:0px;
  width:100%;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:21px;
  height:21px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1007px;
  width:126px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u394_img.selected {
}
#u394.selected {
}
#u394_img.disabled {
}
#u394.disabled {
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:101px;
  word-wrap:break-word;
  text-transform:none;
}
#u394_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u395 label {
  left:0px;
  width:100%;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:21px;
  height:21px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1057px;
  width:126px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u395_img.selected {
}
#u395.selected {
}
#u395_img.disabled {
}
#u395.disabled {
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:101px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:2px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1140px;
  width:212px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.172705148708481deg);
  -moz-transform:rotate(-0.172705148708481deg);
  -ms-transform:rotate(-0.172705148708481deg);
  transform:rotate(-0.172705148708481deg);
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1188px;
  width:56px;
  height:32px;
  display:flex;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u398_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1250px;
  width:145px;
  height:25px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398.disabled {
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1252px;
  width:66px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u399 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u400_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1300px;
  width:145px;
  height:25px;
  display:flex;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400.disabled {
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1302px;
  width:66px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:300px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:910px;
  width:414px;
  height:300px;
  display:flex;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:310px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:910px;
  width:343px;
  height:310px;
  display:flex;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1235px;
  width:182px;
  height:22px;
  display:flex;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1285px;
  width:52px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1335px;
  width:182px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1335px;
  width:182px;
  height:22px;
  display:flex;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1385px;
  width:52px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1435px;
  width:182px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u409 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1247px;
  width:182px;
  height:22px;
  display:flex;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1297px;
  width:52px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1347px;
  width:182px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:343px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1539px;
  width:373px;
  height:343px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1899px;
  width:182px;
  height:22px;
  display:flex;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1949px;
  width:52px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:1999px;
  width:182px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:443px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1451px;
  width:343px;
  height:443px;
  display:flex;
}
#u417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:334px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1446px;
  width:414px;
  height:334px;
  display:flex;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1799px;
  width:182px;
  height:22px;
  display:flex;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1849px;
  width:52px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:1899px;
  width:182px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1949px;
  width:182px;
  height:22px;
  display:flex;
  font-family:'Arial Narrow Bold Italic', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:26px;
}
#u422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u422_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:1999px;
  width:52px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:2049px;
  width:182px;
  height:31px;
  display:flex;
  font-size:26px;
}
#u424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:276px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:1920px;
  height:276px;
  display:flex;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:391px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:910px;
  width:403px;
  height:391px;
  display:flex;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:6px;
  width:114px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:5px;
  width:114px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:5px;
  width:114px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
