<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nuc.course.db.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="org.nuc.course.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_front" jdbcType="VARCHAR" property="articleFront" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="article_author" jdbcType="BIGINT" property="articleAuthor" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
</mapper>