<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nuc.course.db.dao.LikeListMapper">
  <resultMap id="BaseResultMap" type="org.nuc.course.model.LikeList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="art_id" jdbcType="BIGINT" property="artId" />
    <result column="like_time" jdbcType="BIGINT" property="likeTime" />
  </resultMap>
</mapper>