<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nuc.course.db.dao.LogMapper">
  <resultMap id="BaseResultMap" type="org.nuc.course.model.Log">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_identity" jdbcType="CHAR" property="operatorIdentity" />
    <result column="operate_content" jdbcType="VARCHAR" property="operateContent" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
  </resultMap>
</mapper>